@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
    overflow: auto;
    background-color: whitesmoke;
}
header h3, h2 {
    color: white;
    text-shadow: black 2px 2px;
}
header h3{
    text-align: right;
    margin-top: -45px;
  }
header h2{
    text-align: left; 
    margin-left: 10px;  
  }
header{
    width: 100%;
    height: 70px;
    background-color: #007bff;
    font-weight: 100;
    margin: 0;
    text-align: center;
    margin-bottom: -20px;
    margin-left: -20px;
    padding: 20px;
    margin-top: -10px;
}
.logo img {
    width: 280px; 
    height: auto; 
    margin-left: -40px;
}
ul {
    list-style-type: none;
    margin-left: -20px;
    padding: 0;
    width: 19%;
    background-color: #72787c;
    height:900px;
  }
ul h3, a {
    color: #f4f1f1;
}
ul h3{
    padding: 10px;

}
ul hr{
    width: 90%;
    margin-top: -15px;
    margin-bottom: 15px;
}
.signout {
    position: fixed;
    bottom: 10px; 
    left: 10px; 
    width: calc(90% - 20px); 
}
ul a{
    text-decoration: none;
}
li {
    padding: 0 0 3px 0;
}
li a {
    display: flex;
    color: #f4f1f1;
    padding: 15px 16px;
    text-decoration: none;
    font-size:13px ;
}
  
li a:hover {
    background-color: #79969c;
    color:#f2f2f2;
  }
li a.active {
    background-color: #f2f2f2;
    color: rgb(36, 36, 36);
}
.course{
    list-style-type: none;
    margin-left: 230px;
    margin-top:-57.21rem;
    padding: 0;
    width: 11%;
    background-color: #f2f2f2;
    height:900px;

}
.course_active {
    background-color: #2e3f47;
    color: #ffffff;
}
.course a {
    color: black;
}
.course a:hover {
    background-color: #2e3f47;
    color: #f2f2f2;

}
.course_name{
    width: max-content;
    height: 10px;
    padding: 20px;
    font-weight: 900;
}

svg {
    margin-right: 7px;
    margin-top: -3px;
}
.box{
    margin-left: 30%;
    height: 20%;
    width: 58%;
    border: 1px solid rgb(0, 0, 0, .5);
    padding-left: 10px;
    margin-top:-56rem;
    margin-bottom: 46.45rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box p {
    margin-left: 30px
}
.box2{
    margin-left: 25%;
    height: 20%;
    width: 73%;
    border: 1px solid rgb(0, 0, 0, .5);
    padding-left: 10px;
    margin-top:-55rem;
    margin-bottom: 46.45rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box2 p {
    margin-left: 30px
}
.view_btn{
    padding: 8px 15px 8px 15px;
    border-radius: 5px;
    border: none;
    margin-left: 30px;
    margin-bottom: 10px;
    background-color: #887357;
    color: white;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
}
.view_btn:hover{
    background-color: #685c4c;
}
